* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
}


body {
    background-color: #f0f2f5;
}

main.blur {
    filter: blur(5px);
}

/* header css */

.home {
    display: flex;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    align-items: center;
    padding-top: .5%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);

}


.logo-search {
    display: flex;
    flex-direction: row;
    width: 33.3%;
    justify-content: flex-start;
}

.logo {
    margin: 0 1% 0 2%;
    width: 6%;
}

.search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 25%;
    background-color: #f0f2f5;
    border-radius: 50px;
    padding: 2%;
    width: 40%;
    margin: 0 1%;
}

.search form {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.search form input {
    border: none;
    background-color: #f0f2f5;
    font-size: 1.5vh;
}

.search form input {
    outline: none;
    border: none;
    background-color: #f0f2f5;
    font-size: 1.5vh;
}

.nav {
    display: flex;
    flex-direction: row;
    width: 33.3%;
    justify-content: center;
}

.nav div {
    width: 5%;
    width: 40%;
    height: 70%;
    padding-top: 2%;
    display: flex;
    justify-content: center;
}

.nav div:hover {
    background-color: #f0f2f5;
}

#active {
    border-bottom: 3px solid black;
    padding-bottom: 1vh;
}

#active img {
    filter: hue-rotate(180deg);
}

.profile {
    width: 33.3%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.profile div {
    width: 10%;
}

.profile div button {
    width: 80%;
    border-radius: 50%;
    height: 5vh;
    border: none;
}

#friends {
    width: 20%;
    margin: 0 2%;
}

#friends button {
    border-radius: 50px;
    height: 4.5vh;
    width: 100%;
    margin: 3% 0;
    font-weight: bolder;
    font-size: 1.8vh;
}

section {
    background-color: white;
    width: 25%;
    margin-top: .4%;
    padding: .5%;
    height: 100vh;
}

.div1 {
    width: 100%;
    margin: 1.5% 0;
}


.login-logout {
    display: none;
    position: absolute;
    top: 7%;
    right: -2%;
}

.login-logout a button {
    border-radius: 0px;
    background-color: white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}


#user-profile:hover+.login-logout {
    display: block;
}


/* side bar css */
section div button {
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.5vh;
    border: none;
    border-radius: 10px;
    background-color: white;
}

section div button:hover {
    background-color: rgb(208, 206, 206, .3);
}

.side-logos {
    width: 30%;
}

.div1 div {
    font-size: 2vh;
}

.cover {
    height: 60vh;
}

.profile-pic {
    width: 10vw;
    height: 20vh;
    border-radius: 50%;
    position: absolute;
    top: 56%;
    left: 20%;
    border: 3px solid white;
}

.username-menu {
    padding: 2%;
    margin: 0 1%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(205, 205, 205);
}

.username-bar {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    width: 25%;

}

.username {
    width: 25%;
    margin-left: 20%;
    font-weight: bolder;
    font-size: 4vh;
}

.story {
    background-color: #1877f2;
    color: white;
    border-radius: 10px;
    padding: 4%;
    width: 70%;
}

.edit {
    background-color: #f0f2f5;
    width: 70%;
    padding: 4%;
    margin-left: 2%;
    border-radius: 10px;
}

.edit:hover {
    background-color: #dfe1e3;
    cursor: pointer;
}

footer {
    display: none;
}

.menu {
    display: flex;
    flex-direction: row;
}

.menu div {
    color: gray;
    padding: 2% 2%;
    font-weight: bolder;
}

.menu div:hover {
    background-color: #dfe1e3;
    border-radius: 10px;
    cursor: pointer;
}

#tab {
    color: #1877f2;
    border-bottom: 2px solid #1877f2;
}

.side-menu {
    margin-top: 1%;
}

.bio {
    background-color: white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    padding: 5%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.bios {
    width: 100%;
    padding: 2% 0;
    margin: 2% 0;
    font-weight: bolder;
}

.main-content {
    margin: 4% 0;
    background-color: white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    padding: 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.side-links {
    width: 50%;
}

.side-links a {
    text-decoration: none;
    color: #1877f2;
}


.profile-posts {
    display: flex;
    flex-direction: row;
}

.about-section{
    display: flex;
    flex-direction: row;
}