*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family:SFProDisplay-Regular, Helvetica, Arial, sans-serif;
}


body{
  background-color: #f0f2f5;
}
main.blur {
  filter: blur(5px);
}

.home{
  display: flex;
}

header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  align-items: center;
  padding-top:.5%;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);  

}


.logo-search{
  display: flex;
  flex-direction: row;
  width: 33.3%;
  justify-content: flex-start;
}

.logo{
  margin: 0 1% 0 2%;
  width: 6%;
}

.search{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 25%;
  background-color: #f0f2f5;
  border-radius: 50px;
  padding: 2%;
  width: 40%;
  margin: 0 1%;
}

.search form{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.search form input{
  border: none;
  background-color: #f0f2f5;
  font-size: 1.5vh;
}

.search form input{
  outline: none;
  border: none;
  background-color: #f0f2f5;
  font-size: 1.5vh;
}

.nav{
  display: flex;
  flex-direction: row;
  width: 33.3%;
  justify-content: center;
}

.nav div{
  width: 5%;
  width: 40%;
  height: 70%;
  padding-top: 2%;
  display: flex;
  justify-content: center;
}

.nav div:hover{
  background-color: #f0f2f5;
}

#active{
  border-bottom: 3px solid black;
  padding-bottom: 1vh;
}

#active img{
  filter: hue-rotate(180deg);
}

.profile{
  width: 33.3%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.profile div{
  width: 10%;
}
.profile div button{
  width: 80%;
  border-radius: 50%;
  height: 5vh;
  border:none;
}

#friends{
  width: 20%;
  margin: 0 2%;
}

#friends button{
  border-radius: 50px;
  height: 4.5vh;
  width: 100%;
  margin: 3% 0;
  font-weight: bolder;
  font-size: 1.8vh;
}

section{
  background-color: #f0f2f5;
  width: 25%;
  margin-top: .4%;
  padding: .5%;
}

.div1{
  width: 90%;
  margin:1.5% 0;
}

section div button{
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.5vh;
  border: none;
  border-radius: 10px;
  background-color: #f0f2f5;
}

section div button:hover{
  background-color: rgb(208, 206, 206,.3);
}

.side-logos{
  width: 15%;
}

.create-post{
  width: 80%;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  margin: 2%;
  padding: .5%;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.posts{
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 2px solid rgb(188, 188, 188,.6);
}

.user{
  width: 5%;
}

.thoughts{
  width: 100%;
  padding: 1%;
}

.thoughts button{
  border: none;
  width: 100%;
  height: 5vh;
  text-align: left;
  padding: 2%;
  font-size: 1.8vh;
  color: gray;
  border-radius: 50px;
}

.thoughts button:hover{
  cursor: pointer;
  background-color: rgb(176, 176, 176,.3);
}

.upload{
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 1% 0 0;
  justify-content: space-around;
}

.upload button{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 35%;
  border: none;
  padding: 1% 0;
  border-radius: 10px;
  background-color: white;
  font-size: 1.5vh;
}

.upload button:hover{
  background-color: #d7d7d7;
  cursor: pointer;
}

.image{
  width: 10%;
}
.captions{
  margin-left: 5%;
  color: gray;
  font-weight: bolder;
}

.main{
  width: 55%;
}

.desc{
  padding: 2% 1% 4%;
}

.desc form textarea{
  border:none;
  width: 100%;
  font-size: 1.8vh;
  resize: none;
}

.desc form textarea:focus{
  outline: none;
  border: none;
}

#create{
  display: none;
  position: fixed;
  top:35%;
  left:47%;
  transform: translate(-50%,-50%);
  z-index: 2;
}

  #mediaPreview {
    max-width: 100%;
    max-height: 300px;
  }

  .post-data{
    width: 100%;
    border-radius: 10px;
    background-color: #0866ff;
  }

  .post-data input[type='submit']{
    border: none;
    width: 100%;
    border-radius: 10px;
    background-color: #0866ff;.captions a{
      text-decoration: none;
    }
    
    padding: 2%;
    font-weight: bolder;
    color: white;
    font-size: 1.5vh;
  }

  #like-count{
    text-decoration: none;
    color:gray;
  }

  #like-count:visited{
    color:gray;
  }
  

  #comments{
    display: none;
    position: fixed;
    top:35%;
    left:47%;
    transform: translate(-50%,-50%);
    z-index: 2;
  }

  .login-logout{
    display: none;
    position: absolute;
    top: 7%;
    right: -2%;
  }

  .login-logout a button{
    border-radius: 0px;
    background-color: white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  }


  #user-profile:hover+.login-logout{
    display: block;
  }

