{% extends "core/base.html" %} {% block title %}{{person.user.first_name}} |
Facebook{% endblock %} {% load static %} {% block head %}
<script>
  displaying = 0;
  function openlog() {
    if (displaying == 0) {
      document.getElementById("log").style.display = "block";
      displaying = 1;
    } else {
      document.getElementById("log").style.display = "none";
      displaying = 0;
    }
  }

  function previewMedia(event) {
    var input = event.target;
    var preview = document.getElementById("mediaPreview");

    var reader = new FileReader();
    reader.onload = function(){
      preview.src = reader.result;
    };
    reader.readAsDataURL(input.files[0]);
  }
  function openModal() {
    document.getElementById('create').style.display = 'block';
    function autoResize() {
        var textarea = document.getElementById("textArea");
        textarea.style.height = "auto";
        textarea.style.height = (textarea.scrollHeight) + "px";
      }
      autoResize();
 }

  function closeModal() {
    document.getElementById('create').style.display = 'none';
    document.body.classList.remove('blur');
  }
  {% comment %} script for displaying comments {% endcomment %}
  function openComment(id) {
    id='comments'+id
    document.getElementById(id).style.display = 'block';
    function autoResize() {
        var textarea = document.getElementById("textArea");
        textarea.style.height = "auto";
        textarea.style.height = (textarea.scrollHeight) + "px";
      }
      autoResize();
 }

    function closeComment(id) {
    id='comments'+id
    document.getElementById(id).style.display = 'none';
    document.body.classList.remove('blur');
  }
  displaying=0;
  function openlog(){
    if(displaying==0){
    document.getElementById('log').style.display = 'block';
    displaying=1;
    }
    else{
    document.getElementById('log').style.display = 'none';
    displaying=0;
    }
  }
  
</script>
<link
  rel="stylesheet"
  type="text/css"
  media="screen"
  href="{% static 'styles/about.css' %}"
/>
{% endblock %} {% block header %}
<header>
  <div class="logo-search">
    <div class="logo">
      <img
        src="{% static 'images/facebook.png' %}"
        alt="Facebook-logo"
        width="100%"
      />
    </div>
    <div class="search">
      <form action="https://www.google.com/search?=" method="GET">
        <img
          src="https://cdn-icons-png.flaticon.com/128/2811/2811806.png"
          alt=""
          width="8%"
        />
        <input type="text" placeholder="Search Facebook" />
      </form>
    </div>
  </div>

  <div class="nav">
    <div class="">
      <a href="/loggedin/"
        ><img style='margin-left:46%' alt="" src={% static 'images/home.png' %}
        width='15%' height='80%'></a
      >
    </div>
    <div class="">
      <a href="/loggedin/friends"
        ><img style='margin-left:46%' alt="" src={% static 'images/home.png'
        %} width='15%' height='80%'></a
      >
    </div>
    <div class="">
      <img
        src="{% static 'images/multiple-users-silhouette.png' %}"
        alt=""
        width="15%"
        height="80%"
      />
    </div>
  </div>

  <div class="profile">
    <div class="div" id="friends"><button>Find friends</button></div>
    <div class="div">
      <button>
        <img src="{% static 'images/dots-menu.png' %}" alt="" width="50%" />
      </button>
    </div>
    <div class="div">
      <button>
        <img src="{% static 'images/messenger.png' %}" alt="" width="50%" />
      </button>
    </div>
    <div class="div">
      <button>
        <img src="{% static 'images/bell.png' %}" alt="" width="50%" />
      </button>
    </div>
    <div class="div">
      <button onclick="openlog()" id="user-profile">
        <img src="{% static 'images/user.png' %}" alt="" width="50%" />
      </button>
      {% if request.user.is_authenticated %}
      <div id="log" class="login-logout">
        <a href="{%url 'logout'%}"
          ><button>
            <img src="{% static 'images/logout.png' %}" alt="" width="20%" />
            <p>Logout</p>
          </button></a
        >
      </div>
      {%else%}
      <div id="log" class="login-logout">
        <a href="{%url 'login'%}"
          ><button>
            <img src="{% static 'images/login.png' %}" alt="" width="20%" />
            <p>Login</p>
          </button></a
        >
      </div>
      {% endif %}
    </div>
  </div>
</header>
{% endblock %} {% block content %}
<div style="
    margin: 0.1% 18%;
    background-color: white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  ">
    <div class="cover">
        <img src='{{ person.cover_image.url}}' width='100%' alt-'post-image' height='100%'>
        <div class="profile-pic"
            style="background-image:url({{ person.profile_image.url}});background-size:cover;background-position:center;">
        </div>
    </div>
    <div class="username-menu">
        <div class="username">
            {{person.user.first_name}} {{person.user.last_name}}
        </div>
        <div class="username-bar">
            <div class="story">+ Add to story</div>
            <div class="edit">✎ Edit profile</div>
        </div>
    </div>
    <div class="menu">
        <div>Posts</div>
        <div id="tab">About</div>
        <div>Friends</div>
        <div>Photos</div>
        <div>Videos</div>
        <div>Check-ins</div>
        <div>More</div>
    </div>
</div>

<div class='about-section'>
    <div class='profile-posts' style='margin: 0.4% 0 2% 18%;width:25%'>
        <div style="width:100%">
            <div class="side-menu">
                <div class="bio">
                    <div class="bios" style='text-align:left;font-weight:bolder;font-size:2.5vh;background-color:white;margin:0'>
                        About</div>
                    <div class="bios" style='color:gray;text-align:left'>Overview</div>
                    <div class="bios" style='color:gray;text-align:left'>Work and education</div>
                    <div class="bios" style='color:gray;text-align:left'>Places Lived</div>
                    <div class="bios" style='color:gray;text-align:left'>Contact and basic info</div>
                    <div class="bios" style='color:gray;text-align:left'>Family and relationships</div>
                    <div class="bios" style='color:gray;text-align:left'>Details about you</div>
                    <div class="bios" style='color:gray;text-align:left'>Life events</div>
                </div>
            </div>
        </div>   
    </div>
    
    <div class='profile-posts' style='margin: 0% 18% 2% 0;width:75%;'>
        <div style="width:100%">
            <div class="side-menu">
                <div class="bio">
                    <div onclick='openModal()' class="bios" style='color:#1877f2;text-align:left; padding:0'>Add a workplace</div>
                    <div onclick='openModal()' class="bios" style='color:#1877f2;text-align:left; padding:0'>Add a secondary School</div>
                    <div onclick='openModal()' class="bios" style='color:#1877f2;text-align:left; padding:0'>Add univeristy</div>
                    <div onclick='openModal()' class="bios" style='color:#1877f2;text-align:left; padding:0'>Add current city</div>
                    <div onclick='openModal()' class="bios" style='color:#1877f2;text-align:left; padding:0'>Add hometown</div>
                </div>
            </div>
        </div>   
    </div>
</div>

</div>
{% endblock content %}
