{% extends "core/base.html" %} {% block title %}Friends | Facebook{% endblock %}
{% load static %} {% block head %}
<script>
      displaying=0;
      function openlog(){
        if(displaying==0){
        document.getElementById('log').style.display = 'block';
        displaying=1;
        }
        else{
        document.getElementById('log').style.display = 'none';
        displaying=0;
        }
      }
      
      
  </script>
<link
rel="stylesheet"
type="text/css"
media="screen"
href="{% static 'styles/friends.css' %}"
/>
{% endblock %}
{% block header %}
<header>
    <div class='logo-search'>
        <div class='logo'>
            <img src="{% static 'images/facebook.png' %}" alt="Facebook-logo" width="100%">
        </div>
        <div class='search'>
            <form action="https://www.google.com/search?=" method="GET">
                <img src="https://cdn-icons-png.flaticon.com/128/2811/2811806.png" alt="" width="8%">
                <input type="text" placeholder="Search Facebook">
            </form>
        </div>
    </div>

    <div class='nav'>
        <div class="" ><a href='/loggedin/'><img style='margin-left:46%' alt="" src={% static 'images/home.png' %} width='15%' height='80%'></a></div>
        <div class="" id='active'><a href='/loggedin/friends'><img style='margin-left:46%' alt="" src={% static 'images/friends.png' %} width='15%' height='80%'></a></div>
        <div class=""><img src="{% static 'images/multiple-users-silhouette.png' %}" alt="" width='15%' height='80%'></div>
    </div>
 
    <div class='profile'>
        <div class="div" id='friends'><button>Find friends</button></div>
        <div class="div"><button><img src="{% static 'images/dots-menu.png' %}" alt="" width="50%"></button></div>
        <div class="div"><button><img src="{% static 'images/messenger.png' %}" alt="" width="50%"></button></div>
        <div class="div"><button><img src="{% static 'images/bell.png' %}" alt="" width="50%"></button></div>
        <div class="div"><button onclick='openlog()'  id='user-profile'><img src="{% static 'images/user.png' %}" alt="" width="50%"></button>
            {% if request.user.is_authenticated %}<div id='log' class='login-logout'><a href="{%url 'logout'%}"><button><img src="{% static 'images/logout.png' %}" alt="" width="20%"><p>Logout</p></button></a></div>
            {%else%}
            <div id='log' class='login-logout'><a href="{%url 'login'%}"><button><img src="{% static 'images/login.png' %}" alt="" width="20%"><p>Login</p></button></a></div>
            {% endif %}  
        </div>
    </div>
</header>
{% endblock %}

{% block content %}

<main class='home'>

{% comment %} code for side bar {% endcomment %}

<section>
    <div class="div1"><button>
        <div style='margin-left:11%;font-weight:bolder;font-size:3vh;'>Friends<br></div>
    </button></div>
    <div class="div1"><button>
            <div class='side-logos'><img src={% static 'images/friends.png' %} alt="" width='33%'></div>
            <div>Home</div>
        </button></div>
    <div class="div1"><button>
            <div class='side-logos'><img src={% static 'images/add-friend.png' %} alt="" width='30%'></div>
            <div>Friend requests</div>
        </button></div>
    <div class="div1"><button>
            <div class='side-logos'><img src={% static 'images/add-user.png' %} alt="" width='33%'></div>
            <div>Suggestions</div>
        </button></div>
    <div class="div1"><button>
            <div class='side-logos'><img src={% static 'images/friend-request.png' %} alt="" width='33%'></div>
            <div>All friends</span>
        </button></div>
    </div></button></div>
    <div class="div1"><button>
            <div class='side-logos'><img src={% static 'images/giftbox.png' %} alt="" width='33%'></div>
            <div>Birthdays</div>
        </button></div>
    <div class="div1"><button>
            <div class='side-logos'><img src={% static 'images/custom.png' %} alt="" width='33%'></div>
            <div>Custom lists</div>
        </button></div>

</section>

<main>
    {% for person in people %}
    {{person.user.first_name}} {{person.user.last_name}}
    {% endfor %}
</main>

</main>

{% endblock content %}


