{% extends "core/base.html" %} {% block title %}{{person.user.first_name}} |
Facebook{% endblock %} {% load static %} {% block head %}
<script>
  displaying = 0;
  function openlog() {
    if (displaying == 0) {
      document.getElementById("log").style.display = "block";
      displaying = 1;
    } else {
      document.getElementById("log").style.display = "none";
      displaying = 0;
    }
  }

  function previewMedia(event) {
    var input = event.target;
    var preview = document.getElementById("mediaPreview");

    var reader = new FileReader();
    reader.onload = function(){
      preview.src = reader.result;
    };
    reader.readAsDataURL(input.files[0]);
  }
  function openModal() {
    document.getElementById('create').style.display = 'block';
    function autoResize() {
        var textarea = document.getElementById("textArea");
        textarea.style.height = "auto";
        textarea.style.height = (textarea.scrollHeight) + "px";
      }
      autoResize();
 }

  function closeModal() {
    document.getElementById('create').style.display = 'none';
    document.body.classList.remove('blur');
  }
  {% comment %} script for displaying comments {% endcomment %}
  function openComment(id) {
    id='comments'+id
    document.getElementById(id).style.display = 'block';
    function autoResize() {
        var textarea = document.getElementById("textArea");
        textarea.style.height = "auto";
        textarea.style.height = (textarea.scrollHeight) + "px";
      }
      autoResize();
 }

    function closeComment(id) {
    id='comments'+id
    document.getElementById(id).style.display = 'none';
    document.body.classList.remove('blur');
  }
  displaying=0;
  function openlog(){
    if(displaying==0){
    document.getElementById('log').style.display = 'block';
    displaying=1;
    }
    else{
    document.getElementById('log').style.display = 'none';
    displaying=0;
    }
  }
  
</script>
<link
  rel="stylesheet"
  type="text/css"
  media="screen"
  href="{% static 'styles/profile.css' %}"
/>
{% endblock %} {% block header %}
<header>
  <div class="logo-search">
    <div class="logo">
      <img
        src="{% static 'images/facebook.png' %}"
        alt="Facebook-logo"
        width="100%"
      />
    </div>
    <div class="search">
      <form action="https://www.google.com/search?=" method="GET">
        <img
          src="https://cdn-icons-png.flaticon.com/128/2811/2811806.png"
          alt=""
          width="8%"
        />
        <input type="text" placeholder="Search Facebook" />
      </form>
    </div>
  </div>

  <div class="nav">
    <div class="">
      <a href="/loggedin/"
        ><img style='margin-left:46%' alt="" src={% static 'images/home.png' %}
        width='15%' height='80%'></a
      >
    </div>
    <div class="">
      <a href="/loggedin/friends"
        ><img style='margin-left:46%' alt="" src={% static 'images/home.png'
        %} width='15%' height='80%'></a
      >
    </div>
    <div class="">
      <img
        src="{% static 'images/multiple-users-silhouette.png' %}"
        alt=""
        width="15%"
        height="80%"
      />
    </div>
  </div>

  <div class="profile">
    <div class="div" id="friends"><button>Find friends</button></div>
    <div class="div">
      <button>
        <img src="{% static 'images/dots-menu.png' %}" alt="" width="50%" />
      </button>
    </div>
    <div class="div">
      <button>
        <img src="{% static 'images/messenger.png' %}" alt="" width="50%" />
      </button>
    </div>
    <div class="div">
      <button>
        <img src="{% static 'images/bell.png' %}" alt="" width="50%" />
      </button>
    </div>
    <div class="div">
      <button onclick="openlog()" id="user-profile">
        <img src="{% static 'images/user.png' %}" alt="" width="50%" />
      </button>
      {% if request.user.is_authenticated %}
      <div id="log" class="login-logout">
        <a href="{%url 'logout'%}"
          ><button>
            <img src="{% static 'images/logout.png' %}" alt="" width="20%" />
            <p>Logout</p>
          </button></a
        >
      </div>
      {%else%}
      <div id="log" class="login-logout">
        <a href="{%url 'login'%}"
          ><button>
            <img src="{% static 'images/login.png' %}" alt="" width="20%" />
            <p>Login</p>
          </button></a
        >
      </div>
      {% endif %}
    </div>
  </div>
</header>
{% endblock %} {% block content %}
<div style="
    margin: 0.1% 18%;
    background-color: white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  ">
    <div class="cover">
        <img src='{{ person.cover_image.url}}' width='100%' alt-'post-image' height='100%'>
        <div class="profile-pic"
            style="background-image:url({{ person.profile_image.url}});background-size:cover;background-position:center;">
        </div>
    </div>
    <div class="username-menu">
        <div class="username">
            {{person.user.first_name}} {{person.user.last_name}}
        </div>
        <div class="username-bar">
            <div class="story">+ Add to story</div>
            <div class="edit">✎ Edit profile</div>
        </div>
    </div>
    <div class="menu">
        <div id="tab">Posts</div>
        <div><a href='/loggedin/about/{{person.id}}'>About</a></div>
        <div>Friends</div>
        <div>Photos</div>
        <div>Videos</div>
        <div>Check-ins</div>
        <div>More</div>
    </div>
</div>

<div class='profile-posts' style='margin: 0.1% 18% 2%;'>
    <div style="width:40%">
        <div class="side-menu">
            <div class="bio">
                <div class="bios" style='text-align:left;font-weight:bolder;font-size:3vh;background-color:white;margin:0'>
                    Intro</div>
                <p class="bios" style='background-color:white;font-weight: normal;'>{{person.bio}}</p>
                <div class="bios">Edit bio</div>
                <div class="bios">Edit details</div>
                <div class="bios">Add Hobbies</div>
                <div class="bios">Add Featured</div>
            </div>
            <div class="mini"></div>
            <div class="mini"></div>
        </div>
    
        <div class="main-content">
            <div class="bios" style='text-align:left;font-weight:bolder;font-size:3vh;background-color:white;margin:0'>
                Photos</div>
            <div class="side-links"><a href=''>See All Photos</a></div>
        </div>
        <div class="main-content">
            <div class="bios" style='text-align:left;font-weight:bolder;font-size:3vh;background-color:white;margin:0'>
                Friends</div>
            <div class="side-links"><a href=''>See All friends</a></div>
        </div>
    </div>
    
    {% comment %} code to create a post {% endcomment %}
    
    <div class='main'>
        <div class='create-post'>
            <div class='posts'>
                <div class='user'>
                    <img src={{person.profile_image.url}} >
                </div>
                <div class='thoughts'>
                    <button onclick='openModal()'> What's on your mind, {{request.user.first_name}}? </button>
                </div>
            </div>
            <div class='upload'>
                <button onclick='openModal()'>
                    <div class='image'><img src={% static 'images/image-gallery.png' %} width='100%'></div>
                    <div class='captions'>Photo/video</div>
                </button>
                <button>
                    <div class='image'><img src={% static 'images/face.png' %} width='100%'></div>
                    <div class='captions'>Feeling Activity</div>
                </button>
            </div>
        </div>
        <div class='create-post' id='create' style='width:30%;'>
            <div class='posts'>
                <div class='thoughts' style='text-align:center;font-weight:bolder;font-size:2vh'>
                    Create Post
                </div>
                <div class='user'>
                    <img onclick='closeModal()' src="{% static 'images/remove.png' %}" width='100%'>
                </div>
            </div>
            <div class='posts' style='border-bottom:none;margin-top:2%'>
                <div class='user'>
                    <img src={{person.profile_image.url}}>
                </div>
                <div class='thoughts' style='font-weight:bolder;margin-left:2%'>
                    {{request.user.first_name}}
                </div>
            </div>
            <div class='desc'>
                <form method='post' action='/loggedin/posts/' enctype="multipart/form-data">
                    {% csrf_token %}
                    <textarea id="textArea" name='desc' oninput="autoResize()"
                        placeholder="What's on your mind, {{request.user.first_name}}?"></textarea>
                    <input type="file" name='fileinput' id="mediaInput" accept="image/*,video/*"
                        onchange="previewMedia(event)">
                    <div style='width:100%;text-align:center;'><img id="mediaPreview" src={% static 'images/user.png' %}
                            alt="Media Preview" width='70%'></div>
                    <div class='post-data'><input onclick='closeModal()' type='submit' value='Post'></div>
                </form>
            </div>
        </div>
    
        {% for post in posts %}
        <div class='create-post'>
            <div class='posts' style='border-bottom:none;'>
                <div class='user'>
                    <img src={{person.profile_image.url}}>
                </div>
                <div class='thoughts' style='font-weight:bolder;'>
                    {{post.user.first_name}}<br>
                    <p style='font-weight:normal;font-size:1.3vh;color:gray;'>{{post.posted}}</p>
                </div>
            </div>
            {% if post.description %}
            <div style="padding:2%">
                {{post.description}}
            </div>
            {% endif %}
    
            {% if post.media_file %}
            <div>
                <img src='{{ post.media_file.url}}' width='100%' alt-'post-image'>
            </div>
            {% endif %}
    
            <div style='padding-top:1%;display:flex; align-items:center'>
                <img src={% static 'images/likes.png' %} width='3%'>
                <p style='margin-left:1%;color:gray'>{{post.likes}} likes</p>
            </div>
    
            <div class='upload' style="border-top:2px solid rgb(188, 188, 188,.6); padding-top:1%">
                <button>
                    <div class='image'><img src={% static 'images/like.png' %} width='100%'></div>
                    <div class='captions'>
                        <a style='color:gray;' id='like-count' href="/loggedin/{{post.id}}">
                            Like</a>
                    </div>
                </button>
                <button onclick='openComment({{post.id}})'>
                    <div class='image'><img src={% static 'images/chat.png' %} width='100%'></div>
                    <div class='captions'>Comment</div>
                </button>
                <button>
                    <div class='image'><img src={% static 'images/share.png' %} width='100%'></div>
                    <div class='captions'>Share</div>
                </button>
            </div>
        </div>
    
        {% comment %} Designing comment {% endcomment %}
    
        <div class='create-post' id='comments{{post.id}}'
            style='width:40%;display: none; position: fixed; top: 50%; left: 47%; transform: translate(-50%, -50%); z-index: 2;'>
            <div class='posts' id='comments-head'>
                <div class='thoughts' style='text-align:center;font-weight:bolder;font-size:2vh'>
                    {{request.user.first_name}}'s post
                </div>
                <div class='user'>
                    <img onclick='closeComment({{post.id}})' src={% static 'images/remove.png' %} width='100%'>
                </div>
            </div>
    
    
            {% comment %} post inside the comment {% endcomment %}
    
            <div class='create-post' style='width:100%;margin:0%;box-shadow:none;'>
                <div class='posts' style='border-bottom:none;'>
                    <div class='user'>
                        <img src={{person.profile_image.url}}>
                    </div>
                    <div class='thoughts' style='font-weight:bolder;'>
                        {{post.user.first_name}}<br>
                        <p style='font-weight:normal;font-size:1.3vh;color:gray;'>{{post.posted}}</p>
                    </div>
                </div>
                {% if post.description %}
                <div style="padding:2%">
                    {{post.description}}
                </div>
                {% endif %}
    
                {% if post.media_file %}
                <div>
                    <img src='{{ post.media_file.url}}' width='100%' alt-'post-image'>
                </div>
                {% endif %}
    
                <div style='padding-top:1%;display:flex; align-items:center'>
                    <img src={% static 'images/likes.png' %} width='3%'>
                    <p style='margin-left:1%;color:gray'>{{post.likes}} likes</p>
                </div>
    
                <div class='upload' style="border-top:2px solid rgb(188, 188, 188,.6); padding-top:1%">
                    <button>
                        <div class='image'><img src={% static 'images/like.png' %} width='100%'></div>
                        <div class='captions'>
                            <a id='like-count' href="/loggedin/{{post.id}}">
                                Like</a>
                        </div>
                    </button>
                    <button>
                        <div class='image'><img src={% static 'images/chat.png' %} width='100%'></div>
                        <div class='captions'>Comment</div>
                    </button>
                    <button>
                        <div class='image'><img src={% static 'images/share.png' %}width='100%'></div>
                        <div class='captions'>Share</div>
                    </button>
                </div>
            </div>
    
            {% comment %} Post inside comment ends here {% endcomment %}
            {% for comment in comments %}
            {% if comment.post.id == post.id %}
            <div class='posts' style='border-bottom:none; padding-bottom:1%;'>
                <div class='user'>
                    <img src='../static/images/user.png' width='100%'>
                </div>
                <div class='thoughts'
                    style='font-weight:bolder;display:inline-block;background-color:#f0f2f5;border-radius:10px'>
                    {{ comment.user.first_name }}<br>
                    <p style='font-weight:normal;font-size:1.3vh;color:gray;'>{{comment.created}}</p>
                    <p style='font-weight:normal;font-size:1.8vh;color:gray;'>{{ comment.body }}</p>
                </div>
            </div>
            {% endif %}
            {% endfor %}
            {% comment %} comment putting button {% endcomment %}
            <div class='desc' id='comments-desc'>
                <form method='post' action='/loggedin/comments/{{post.id}}/'>
                    {% csrf_token %}
                    <textarea id="textArea" name='comment' oninput="autoResize()"
                        placeholder="Write a comment here..."></textarea>
                    <div class='post-data'><input onclick='closeComment({{post.id}})' type='submit' value='Comment'></div>
                </form>
            </div>
        </div>
        {% endfor %}
    
    
    </div>
</div>
{% endblock content %}
